{% load static %}
<!-- {% static "smagex" as baseUrl %} -->
    <title>Sparks Job Application | Welcome </title>
    <link rel="stylesheet" href="{% static 'styles_p.css' %}">
    <header>
     <div class="container">
    <div id="branding">
        <h1><span class="highlight">DONATE</span>FORCHANGE</h1> 
         </div>   
         <nav>
             <ul>
             <li class="current"><a href ="bookstore.html">Home</a></li>
                 <li><a href ="/donate">Donate</a></li>
                 <li><a href="/admin">Admin Login</a></li>
                 
             </ul>
         </nav>
    </div>
    </header>
    <section id="showcase">
    <div class="container" style="color:black;">
        <h1>Change Someone's Life</h1>
        <p>Your donation helps others, gives them hope.</p>
        <p>We don't ask a lot, just something that makes you happy because that something can change someone's life</p>
        </div>
    </section>
    